// spots # new
//=====================


- title = @country.name + ' | New spot'
- provide(:title, title)

#info-bar
  = render 'form'


#canvas
  #new-spot-map-canvas

= javascript_include_tag src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV0NXyd7BVaG6CuyzITjfsn2IIFsjedOk" 
= javascript_include_tag "gmap"
