// countries # index

//- provide(:title, @country.name)

#canvas

  #country-map-canvas 

//= simple_format @spots.to_yaml
//= @markers.inspect


// can add &signed_in=true to gmaps init string for stylish controls
= javascript_include_tag src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV0NXyd7BVaG6CuyzITjfsn2IIFsjedOk" 
= javascript_include_tag "markerclusterer"
= javascript_include_tag "gmap"
